table {
  min-width: 600px;
  max-width: 80%;
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
}

table,td,th {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

tr:nth-of-type(odd) {
  background: #eee;
}

td.url {
  width: 300px;
}

td.notes {
  min-width: 300px;
}

td.button {
  min-width: 120px;
  text-align: center;
}

.tag-link {
  font-size: 100%;
}

.selected-tag {
  font-size: 100%;
  background-color: #F8FC83;
}