body {
  width: 1024px;
  padding-left: 3px;  
}

label {
  width: 300px;
  padding-top: 6px;
}

input[type=checkbox] {
  float: right;
}

.tooltip {
  width: 400px;
  font-size: 95%;
  color: #111;
  line-height: 140%;
  background-color: lightyellow;
}

.show_hide {
  color: blue;
  font-size: 90%;
  text-decoration: underline;
  cursor: pointer;
}

h2.relnotes {
  border-bottom: 0;
  background-color: transparent;
  padding: 3px 5px;
  font-size: 100%
}
