.popup {
  line-height: 1.4;
  width: 256px;
}

#notes {
  border-radius: 3px;
  margin-bottom: 9px;
  padding: 1px;
}

#checkbox-div {
  display: none;
  margin-bottom: 8px;
  margin-top:8px;
}

#control-div {
  padding-left: 1px;
  margin-top: 8px;
}

#warning {
	color: red;
}

label {
  font-size: 90%;
  width: 256px;
}

input {
  font-size: 90%;
}

