h1 { font-size: 156% }

h1 img {
  margin: 1px 5px 0 1px;
  vertical-align: -28%
}

h2 {
  border-top: 1px solid #9cc2ef;
  background-color: #ebeff9;
  padding: 3px 5px;
  font-size: 100%
}

table,td {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}

body {
  width: 256px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
  color: #111;
}

#notes {
  background-color: #F5F5F5;
  border-radius: 3px;
  margin-bottom: 9px;
  padding: 1px;
}

label {
  padding-left: 1px;
  text-indent: -15px;
  font-size: 90%;
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

button {
  font-size: 90%;
}

a {
  font-size: 90%;
  padding-left: 3px;
}

